@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "SFProDisplay-Black"; // 900
  src: url("../fonts/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family: "SFProDisplay-Bold"; // 700
  src: url("../fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: "SFProDisplay-Heavy"; // 900
  src: url("../fonts/SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family: "SFProDisplay-Light";
  src: url("../fonts/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family: "SFProDisplay-Regular"; // 400
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "SFProDisplay-RegularI"; // 400 italic
  src: url("../fonts/SF-Pro-Display-RegularItalic.otf");
}

@font-face {
  font-family: "SFProDisplay-Medium"; // 500
  src: url("../fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SFProDisplay-Semibold"; // 600
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "SFProDisplay-Thin";
  src: url("../fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SFProDisplay-Ultralight";
  src: url("../fonts/SF-Pro-Display-Ultralight.otf");
}
